---
const partnerProgramContent = [
  {
    title: "Stronger as a Team",
    subtitle: "Programm",
    description:
      "Are you aware of businesses that could experience accelerated growth by leveraging Buio? Earn waived fees for your customers and receive rewards for assisting business owners in achieving growth on their own terms.",
    additionalInfo:
      "Discover the reasons behind Spendesk's collaboration with Buio, empowering CFOs to establish resilient businesses in any industry.",
    image: "/images/assets/cube.png",
    imagePosition: "right",
  },
  {
    title: "Enroll in Buio's Partner Program and enjoy exclusive benefits",
    subtitle: "Rewards",
    description:
      "Interested in becoming a referral or strategic partner? Whether you're a venture capitalist, funding advisor, or software company aiming to streamline financing for your customers, we have the infrastructure in place to assist you.",
    image: "/images/assets/cubeTwo.png",
    imagePosition: "left",
  },
];
---

<section class="lg:p-8">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    {
      partnerProgramContent.map((item) => (
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 lg:gap-24 items-center mt-12">
          {item.imagePosition === "left" && (
            <img
              class="mt-12 lg:mt-0"
              src={item.image}
              alt=""
            />
          )}
          <div>
            <span class="text-blue-400">{item.subtitle}</span>
            <h2 class="text-3xl mt-6 tracking-tight font-light lg:text-4xl text-white">
              {item.title}
            </h2>
            <p class="mt-4 text-base text-white text-balance">
              {item.description}
            </p>
            {item.additionalInfo && (
              <p class="mt-4 text-base text-zinc-400 text-balance">
                {item.additionalInfo}
              </p>
            )}
          </div>
          {item.imagePosition === "right" && (
            <img
              class="mt-12 lg:mt-0"
              src={item.image}
              alt=""
            />
          )}
        </div>
      ))
    }
  </div>
</section>
