---
const { page, description, pubDate, image, url } = Astro.props;
---

<div class="md:flex">
  <h2
    id="2023-03-16-heading"
    class="pl-7 md:w-1/4 md:pl-0 text-sm md:pr-12 text-black md:text-right">
    <time datetime={pubDate}>{pubDate}</time>
  </h2>
  <div class="relative pt-2 pl-7 md:w-3/4 md:pt-0 md:pl-12 pb-16">
    <div class="absolute bottom-0 left-0 w-px bg-black/20 -top-3 md:top-2.5">
    </div>
    <div
      class="absolute -top-[1.0625rem] -left-1 h-[0.5625rem] w-[0.5625rem] rounded-full border-2 border-black/10 bg-black md:top-[0.4375rem]">
    </div>
    <div class="flex flex-col">
      <div>
        <img
          class="rounded-2xl"
          src={image}
          alt={description}
        />
        <h3 class="text-black text-lg mt-8">{page}</h3>
        <p class="text-zinc-500 mt-4 text-sm text-balance">
          {description}
        </p>
        <div class="mt-4">
          <a
            href={url}
            title={page}
            aria-label={page}
            class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-black hover:text-black inline-flex items-center justify-center ring-1 ring-transparent">
            Read further
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
