---
import { getCollection } from "astro:content";
const allPosts = await getCollection("integrations");
import BaseLayout from "@/layouts/BaseLayout.astro";
import Entries from "@/components/integrations/Entries.astro";
---

<BaseLayout>
  <section class="lg:p-8">
    <div
      class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 items-center lg:py-36 relative w-full">
      <div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-24 items-end">
          <div>
            <span class="text-blue-400"> Integrations</span>
            <h1
              class="text-3xl mt-6 tracking-tight font-light lg:text-4xl text-white">
              Sync your charts <span class="md:block text-zinc-400"
                >speed guaranteed</span
              >
            </h1>
          </div>
          <p class="text-white mt-6 max-w-lg">
            Assist us in gaining a deeper understanding of the financial
            well-being of your business. This includes both the current state
            and the long-term perspective, accomplished by analyzing your profit
            and loss statement and balance sheet.
          </p>
        </div>
        <div class="relative mt-12 pt-12 space-y-24">
          <div class="w-full">
            <div class="pb-6 border-b border-white/10 w-full">
              <span class="text-white text-xl block">Billing</span>
              <span class="block mt-4 text-sm text-zinc-400 max-w-md"
                >Start by syncing your billing to your dashboard. Securely
                connecting the tools you use to bring in revenue makes it simple
                to Buio that revenue for up-front capital.
              </span>
            </div>
            <ul
              class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-4 mt-6 pt-6">
              {
                allPosts.slice().map((post) => (
                  <Entries
                    url={"/integrations/" + post.slug}
                    integration={post.data.integration}
                    description={post.data.description}
                    alt={post.data.integration}
                    permissions={post.data.permissions}
                    logo={post.data.logo.url}
                  />
                ))
              }
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
</BaseLayout>
