---
import LightLayout from "./LightLayout.astro";
const { frontmatter } = Astro.props;
---

<LightLayout>
  <section class="lg:p-8 bg-white">
    <div
      class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-36 lg:py-36 relative w-full">
      <div
        x-data="{ open: false }"
        class="max-w-2xl mx-auto pb-6 border-b border-white/10">
        <div>
          <img
            class="size-16 lg:size-32 invert"
            src={frontmatter.logo.url}
            alt={frontmatter.logo.alt}
          />
          <span class="text-blue-400"> {frontmatter.integration}</span>
          <h1
            class="text-3xl mt-6 tracking-tight text-balance font-light lg:text-4xl text-black">
            {frontmatter.description}
          </h1>
          <div class="mt-8">
            <button
              x-on:click="open = true"
              class="text-sm py-2 px-4 border focus:ring-2 rounded-full border-transparent bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-black hover:text-black inline-flex items-center justify-center ring-1 ring-transparent">
              Connect {frontmatter.integration} to Buio
            </button>
          </div>
        </div>

        <!-- Modal -->
        <div
          x-show="open"
          style="display: none"
          x-on:keydown.escape.prevent.stop="open = false"
          role="dialog"
          aria-modal="true"
          x-id="['modal-title']"
          :aria-labelledby="$id('modal-title')"
          class="fixed inset-0 z-10 overflow-y-auto">
          <!-- Overlay -->
          <div
            x-show="open"
            x-transition.opacity
            class="fixed inset-0 bg-white bg-opacity-50">
          </div>

          <!-- Panel -->
          <div
            x-show="open"
            x-transition
            x-on:click="open = false"
            class="relative flex min-h-screen items-center justify-center p-4">
            <div
              x-on:click.stop
              x-trap.noscroll.inert="open"
              class="relative w-full max-w-2xl text-center overflow-y-auto rounded-2xl lg:rounded-[3rem] bg-white border shadow-thick p-12">
              <h2
                class="text-2xl mt-6 tracking-tight font-medium text-black"
                :id="$id('modal-title')">
                Connect {frontmatter.integration} to Buio
              </h2>

              <!-- Content -->

              <p class="mt-6 text-zinc-500 text-sm max-w-md mx-auto">
                Give priority to tasks and projects based on the requirements of
                your customers, and establish a closer feedback loop with them.
              </p>

              <div class="max-w-md mx-auto mt-6">
                <p class="text-black text-left font-medium">
                  Buio would like to
                </p>
                <ul
                  role="list"
                  class="text-left list-none text-zinc-500 mt-3 text-xs">
                  {
                    frontmatter.permissions.map((permission) => (
                      <li class="flex items-center gap-3">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-check"
                          width="16"
                          height="16"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round">
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          />
                          <path d="M5 12l5 5l10 -10" />
                        </svg>
                        {permission}
                      </li>
                    ))
                  }
                </ul>
                <p class="text-zinc-400 text-left text-xs mt-12">
                  We prioritize your privacy, as stated in our <a
                    class="text-blue-500 hover:text-black"
                    href="/infopages/privacy"
                    >Privacy Policy</a
                  >. By clicking "Allow access," you grant Untitled permission
                  to access your information.
                </p>
              </div>
              <div
                class="inline-flex flex-wrap gap-1 items-center mt-12 pt-6 border-t w-full max-w-md">
                <button
                  type="button"
                  class="text-sm py-2 px-4 border focus:ring-2 rounded-full h-10 bg-white hover:bg-white/10 text-black duration-200 focus:ring-offset-2 focus:ring-white hover:text-blue-500 inline-flex items-center justify-center ring-1 ring-transparent ml-auto">
                  Cancel
                </button>
                <button
                  type="submit"
                  class="text-sm py-2 px-4 border focus:ring-2 rounded-full h-10 border-transparent bg-black hover:bg-black/10 text-white duration-200 focus:ring-offset-2 focus:ring-black hover:text-black inline-flex items-center justify-center ring-1 ring-transparent">
                  Allow access
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="prose-styles space-y-12">
        <h2>Company Details</h2>
        <ul role="list">
          {
            frontmatter.details.map((detail) => (
              <li>
                <p>
                  {detail.title} -
                  {detail.url ? (
                    <a href={detail.url}>{detail.value}</a>
                  ) : (
                    detail.value
                  )}
                </p>
              </li>
            ))
          }
        </ul>
        <slot />
      </div>
    </div>
  </section>
</LightLayout>
