---
const testimonialsOne = [
  {
    name: "David Gutierrez",
    title: "Creator of @apuchipucha",
    imageUrl:
      "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
    content:
      "I couldn't be happier with the service I received. The team went above and beyond to ensure my needs were met.",
  },
  {
    name: "Pierluigi Camomillo",
    title: "Founder of Camomille",
    imageUrl:
      "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
    content:
      "I highly recommend this company. Their attention to detail and commitment to quality is unmatched.",
  },
  {
    name: "Ella Svensson",
    title: "Founder of NoThing",
    imageUrl:
      "https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
    content: "Great work Michael!",
  },
];
const testimonialsTwo = [
  {
    name: "Alexa Rios",
    title: "Chief Innovator at Ideatech",
    imageUrl:
      "https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
    content:
      "The professionalism and personalized service we got from them were beyond our expectations. Highly recommended!",
  },
  {
    name: "Marco Tulio",
    title: "CEO of Brew & Bean",
    imageUrl: "https://alfred.lexingtonthemes.com/avatar1.png",
    content:
      "Their expertise and attention to every detail made an impressive difference in our project's outcome.",
  },
  {
    name: "Samantha Lee",
    title: "Digital Marketer at Pixel Dreams",
    imageUrl:
      "https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
    content:
      "Absolutely thrilled with the results! Their team delivered top-notch quality within the deadline.",
  },
];
---

<section class="lg:p-8">
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div
      class="relative flex flex-col bg-gradientup ring-1 ring-white/10 rounded-4xl px-6 md:pt-24 lg:flex lg:pt-0">
      <div class="lg:p-20 lg:pb-0">
        <div
          class="grid grid-cols-1 lg:grid-cols-2 lg:border-b items-end border-white/10 py-12">
          <div>
            <span class="text-white">Our wall of love</span>
            <h2
              class="text-3xl mt-6 tracking-tight font-light lg:text-4xl text-white">
              We keep making <span class="block text-zinc-400"
                >peoples life better</span
              >
            </h2>
          </div>
          <p class="text-white mt-6">
            We are loved by startups, marketing agencies, real estate agencies,
            freelancers, Fortune 500 companies and many more. Our customers'
            testimonialsOne are the best social proof we can get!
          </p>
        </div>
      </div>
      <div class="relative mx-auto lg:px-16">
        <div
          class="items-center space-x-6 pb-12 lg:pb-0 lg:space-x-8 overflow-y-hidden relative lg:px-4 mx-auto grid grid-cols-1 lg:grid-cols-2">
          <div
            class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8 lg:animate-scroller">
            {
              testimonialsOne.map((testimonial) => (
                <div class="relative rounded-3xl shadow-inset sm:opacity-0 lg:opacity-100 p-4 bg-white/5 lg:p-8 ring-1 ring-white/5">
                  <figcaption class="relative flex flex-row gap-4 pb-6 border-b border-white/10">
                    <div class="overflow-hidden shrink-0">
                      <img
                        alt={testimonial.name}
                        src={testimonial.imageUrl}
                        class="object-cover rounded-full h-14 w-14 grayscale shrink-0"
                      />
                    </div>
                    <div>
                      <div class="text-lg font-medium leading-6 text-white">
                        {testimonial.name}
                      </div>
                      <div class="mt-1">
                        <a
                          class="text-sm text-white/70 group-hover:text-white"
                          href="#_">
                          {testimonial.title}
                        </a>
                      </div>
                    </div>
                  </figcaption>
                  <figure>
                    <div class="h-full group mt-2 pt-2">
                      <blockquote class="relative">
                        <p class="text-base text-white">
                          "{testimonial.content}"
                        </p>
                      </blockquote>
                    </div>
                  </figure>
                </div>
              ))
            }
          </div>
          <div
            class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8 lg:animate-scroller3">
            {
              testimonialsTwo.map((testimonial) => (
                <div class="relative rounded-3xl shadow-inset sm:opacity-0 lg:opacity-100 p-4 bg-white/5 lg:p-8 ring-1 ring-white/5">
                  <figcaption class="relative flex flex-row gap-4 pb-6 border-b border-white/10">
                    <div class="overflow-hidden shrink-0">
                      <img
                        alt={testimonial.name}
                        src={testimonial.imageUrl}
                        class="object-cover rounded-full h-14 w-14 grayscale shrink-0"
                      />
                    </div>
                    <div>
                      <div class="text-lg font-medium leading-6 text-white">
                        {testimonial.name}
                      </div>
                      <div class="mt-1">
                        <a
                          class="text-sm text-white/70 group-hover:text-white"
                          href="#_">
                          {testimonial.title}
                        </a>
                      </div>
                    </div>
                  </figcaption>
                  <figure>
                    <div class="h-full group mt-2 pt-2">
                      <blockquote class="relative">
                        <p class="text-base text-white">
                          "{testimonial.content}"
                        </p>
                      </blockquote>
                    </div>
                  </figure>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
