---
const { name, role, avatar, url } = Astro.props;
---

<li>
  <a
    href={url}
    title={name}
    class="space-y-4">
    <img
      class="mx-auto h-20 lg:h-24 lg:w-24 rounded-full w-20"
      src={avatar}
      alt={name}
    /><div class="space-y-2">
      <div>
        <h3 class="text-white font-medium text-base">{name}</h3><p
          class="text-sm text-zinc-400 mt-4 font-display">
          {role}
        </p>
      </div>
    </div>
  </a>
</li>
